# Node.js dependencies
node_modules/
package-lock.json

# Backend (Keep `package.json` for dependencies)
backend/node_modules/
backend/package-lock.json
backend/.env

.env

# Frontend (Keep `package.json` for dependencies)
frontend/node_modules/
frontend/package-lock.json
frontend/.env
frontend/dist/  # Ignore built files in development (Vite)

# IDE & OS files
.DS_Store
.vscode/
.env
